.navbar {
    height: 100px;
    width: 100%;

}


.navbar .futurbyte-logo {
    color: #7e0bb3;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-left: 20px;
    font-family: Inter, sans-serif
}

.navbar .navbar-collapse {
    padding-left: 50px;
}

.navbar .btn.btn-consultation {
    background-color: #ffffff;
    color: #000000;
    border-color: transparent;
    font-weight: 400;
    padding: 15px 20px;
    border-radius: 8px;
    font-size: 20px;

}

.navbar .btn-consultation:hover {
    background-color: transpaent;
}

.navbar .btn.btn-global {
    background-color: #ffffff;
    color: #000000;
    border-color: transparent;
    font-weight: 500;
    padding: 10px 18px;
    border-radius: 8px;
    margin-right: 20px;

}

.navbar .btn.btn-global:hover {
    background-color: transpaent;
}


.h5 h6 {
    color: rgb(173, 66, 173);
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
}

.h5 h1 {
    font-family: Inter;
    font-size: 2.5em;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: -1px;
    /* white-space: break-spaces; */
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}



.button-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 2rem;
}

.btn.btn-primary.btn-md {
    background-color: transparent;
    color: #000000;
    border-color: rgb(135, 130, 130);
    align-items: center;
}


.btn.btn-secondary.btn-md {
    background-color: transparent;
    color: #000000;
    border-color: rgb(135, 130, 130);
}


.figure {
    width: 60%;
    padding-top: 20px;
}

.figure .figure-caption {
    color: #3F444B;
    padding-top: 10px;

}

.container {
    padding: 20px;
}

.toc-column {
    padding: 20px;
    max-width: 300px;
}

.content-column {
    padding: 30px 40px;
    max-width: 700px;
    font-size: 18px;
}

.content-column p {
    color: #0a0d31;
    padding-top: 25px;
    padding-bottom: 0px;
    font-size: 20px;
    text-align: start;
    font-family: sans-serif;
    font-weight: 600;
}

.content-column .container-fluid {
    border: transparent;
    border: solid 1px;
    border-radius: 12px;
    color: #ffffff;
    background-color: #290A2f;
    padding: 40px 24px;
}

.content-column .container-fluid h3 {
    font-size: 32px;
    line-break: strict;

}

.content-column .container-fluid p {
    color: #ffffff;
    text-align: center;
    line-break: strict;
}


.content-column .container-fluid input::placeholder {
    color: #ffffff;
    /* placeholder text */
    opacity: 0.5;
}

.content-column .container-fluid input {
    color: #ffffff;
    /* placeholder text */
    opacity: 1;
}

#name {
    background-color: #290A2f;
    padding: 0 20px;
    min-height: 50px;
    max-height: 60px;
    width: 48%;
    font-size: 18px;
    font-family: sans-serif;
    border: solid 0.1px;
    border-color: #3F444B;
    margin-right: 5px;
}

.content-column .container-fluid input[type="number"] {
    background-color: #290A2f;
    padding: 0 20px;
    min-height: 50px;
    max-height: 60px;
    width: 48%;
    font-size: 18px;
    font-family: sans-serif;
    border: solid 0.1px;
    border-color: #3F444B;
    margin-right: 5px;

}

.content-column .container-fluid input[type="email"] {
    background-color: #290A2f;
    padding: 20px 20px 20px 20px;
    min-height: 50px;
    max-height: 60px;
    width: 100%;
    font-size: 18px;
    font-family: sans-serif;
    border: solid 0.1px;
    border-color: #3F444B;
    margin-top: 20px;
    margin-right: 30px;

}

#reply {
    background-color: #290A2f;
    padding: 20px 20px 20px 20px;
    min-height: 50px;
    max-height: 60px;
    width: 100%;
    font-size: 18px;
    font-family: sans-serif;
    border: solid 0.1px;
    border-color: #3F444B;
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 20px;
}

#submit {
    background-color: #A65EB8;
    color: #ffffff;
    padding: 0 20px;
    min-height: 50px;
    max-height: 60px;
    width: 50%;
    font-size: 20px;
    font-family: sans-serif;
    border: solid 0.1px;
    border-color: #3F444B;
    margin: 10px;
}



.side-column {
    padding: 30px;
    max-width: 300px;
    font-size: 16px inter;
    font-family: sans-serif;
    color: #0a0d31;
    font-weight: 300;
    word-spacing: 1px;
    position: relative;
}

.heading {
    font-size: 18px;
    text-align: initial;
    padding: 5px;
}


.toc-column .table a {
    color: #3b3b3b;
    /* any color you want */
    text-decoration: none;
    display: inline-block;
    /* important for spacing */
    font-weight: 400;
    padding-top: 1rem;
}

.toc-column .table a:hover {
    color: #084298;
    text-decoration: underline;
}

.toc-column .table thead tr th {
    font-size: 20px;
    font-weight: 600;
    color: #1a1a1a;
    padding: 1rem;
}

.table {
    color: #3b3b3b;
    font-size: 14px;
    display: inline-table;
    border: solid 1px;
    border-color: transparent;
    text-align: start;
    line-break: strict;
}

.relatedblogs {
    font-size: 48px;
    font-family: sans-serif;
    text-align: center;
    font-weight: bolder;
    color: #290A2f;
}

.row {
    justify-content: center;
}

.cardrow .card {
    margin: 10px;
    height: 20rem;
}
